<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Registrar Nuevo Empleado
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3> Nuevo Empleado</h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/employee/add")?>" data-parsley-validate>
					<div class="form-group">
						<label class="control-label" for="external-person">Usuario</label>
						<select id="user-id" class="form-control" name="user-id" >
							<option value="">&nbsp;</option>
							<?php
							foreach ($this->userList as $user) {
								/**
								 * @var App_Model_User
								 */
								$user;
								echo "<option value=\"" . $user->getId() . "\">" . $user->getUsername() . "</option>";
							}
							?>
						</select>
						<a href="<?php echo $this->baseUrl("/user/add")?>">Agregar Usuario</a>
					</div>
					<div class="form-group">
						<label class="control-label" for="first-name">Nombre</label>
						<input type="text" name="first-name" class="form-control" id="first-name" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="last-name">Apellido</label>
						<input type="text" name="last-name" class="form-control" id="last-name" required>
					</div>
					<input type="hidden" name="referer" value="<?php echo $_SERVER['HTTP_REFERER']?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="window.location='<?php echo $this->baseUrl("/employee")?>'">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
		$("#user-id").focus();
		$("#user-id").select2();
	})
</script>