<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="<?php echo $this->baseUrl()?>">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Empleados
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Empleados</h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("employee/add")?>'">
								Registrar Empleado
							</button>
						</div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="employee-datatable">
							<thead>
									<th>Nombre Completo</th>
									<th>Area Asignada</th>
									<th>Estado</th>
									<th>Usuario</th>
									<th>Operaciones</th>
							</thead>
							<tbody>
							<?php 
								foreach($this->employeeList as $employee)
								{
									/**
									 * @var App_Model_Employee
									 */
									$employee;
							?>
								<tr>
									<td><?php echo $employee->getFullName()?></td>
									<td><?php 
										if ($employee->getCompanyArea() !== null) {
											echo $employee->getCompanyArea()->getCode(). " - " .$employee->getCompanyArea()->getName();
										}
									?></td>
									<td><?php echo $employee->getStatus(); ?></td>
									<td><?php 
										if($employee->getUser() !== null) {
											echo $employee->getUser()->getUsername(); 
										}
									 ?></td>
									<td>
								 	<a href='<?php echo $this->url(array('controller' => 'employee',
																 'action'     => 'modify',
																 'id'     	  => $employee->getId(),
																), 'default', true) ?>'>Modificar </a>
									&nbsp;
									<a href='<?php echo $this->url(
										array(
											'controller' => 'employee',
											'action'     => 'remove',
											'id'     => $employee->getId(),
										), 'default', true) ?>'>Eliminar</a>	
													
									</td>
								</tr>
							<?php
								}
							?>
							</tbody>
						</table>
                        </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script language="javascript">
	$(document).ready(function() {
		$("#employee-datatable").dataTable();
	});
</script>