<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="<?php echo $this->baseUrl()?>">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Tipo de Documento
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Tipo de Documento</h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("document-type/add")?>'">
								Nuevo Tipo de Documento
							</button>
						</div>
                        <div class="table-responsive">
                            <table id="document-type-datatable">
								<thead>
								<tr>
									<th>id</th>
									<th>Nombre</th>
									<th>Codigo</th>
					                <th>Tipo</th>
									<th>Descripcion</th>
									<th>&nbsp;</th>
								</tr>
								</thead>
								<?php 
								foreach($this->documents as $document)
								{
								?>
								<tr>
									<td><?php echo $document->getId(); ?></td>
									<td><?php echo $document->getName(); ?></td>
									<td><?php echo $document->getCode(); ?></td>
					                <td><?php 
					                	if ($document->getType() == App_Model_DocumentType::EXTERNAL) {
					                		echo "Externo";
					                	} else {
					                		echo "Interno";
					                	}
					                ?></td>
									<td><?php echo $document->getDescription(); ?></td>
									<td>
										<a href='<?php echo $this->url(
											array(
												'controller' => 'document-type',
												'action'     => 'modify',
												'id'     => $document->getId(),
											), 'default', true) ?>'>Modificar</a>
										<a href='<?php echo $this->url(
											array(
												'controller' => 'document-type',
												'action'     => 'remove',
												'id'     => $document->getId(),
											), 'default', true) ?>'>Eliminar</a>
									</td>
								</tr>
								<?php 
									}
								?>
							</table>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
		$("#document-type-datatable").DataTable();
	})
</script>