<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="<?php echo $this->baseUrl()?>">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Persona Externa
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Personas Externas</h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("external-person/add")?>'">
								Registrar Nuevo
							</button>
						</div>
                        <div class="table-responsive">
                            <table id='external-person-datatable'>
						    <thead>
						    		<th> Nombre Completo </th>
						    		<th> Empresa </th>
						    		<th> Acciones </th>
							</thead>
							<tbody>
							<?php 
								foreach($this->externalPersons as $externalPerson)
								{
							?>
						    	<tr>
						    		<td><?php echo $externalPerson->getFullName(); ?></td>
						    		<td><?php $message = $externalPerson->getCompanyName() ? $externalPerson->getCompanyName() : "Ninguna";
						                echo $message;
						    			?></td>
						    		<td>
						    			<a href='<?php echo $this->url(
						    				array(
						    					'controller' => 'external-person',
						    					'action'     => 'modify',
						    					'id'     => $externalPerson->getId(),
						    				), 'default', true) ?>'>Modificar</a>
						    				:: <a href='<?php echo $this->url(
						    				array(
						    					'controller' => 'external-person',
						    					'action'     => 'remove',
						    					'id'     => $externalPerson->getId(),
						    				), 'default', true) ?>'>Eliminar</a>
						    		</td>
						    	</tr>
							<?php
						    }
							?>
							</tbody>
							</table>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
		$("#external-person-datatable").DataTable();
	})
</script>