<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Modificar Persona Externa
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3> Modificar Persona Externa </h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/external-person/modify"); ?>" data-parsley-validate>
					<input type="hidden" name="id" value="<?php echo $this->externalPerson->getId()?>">
					<div class="form-group">
						<label class="control-label" for="name">Nombre</label>
						<input type="text" name="name" class="form-control" id="name" required value="<?php echo $this->externalPerson->getName()?>">
					</div>
					<div class="form-group">
						<label class="control-label" for="last-name">Apellido</label>
						<input type="text" name="last-name" class="form-control" id="last-name" required value="<?php echo $this->externalPerson->getLastName()?>">
					</div>
					<div class="form-group">
						<label class="control-label" for="company">Empresa</label>
						<input type="text" name="company" class="form-control" id="company" value="<?php echo $this->externalPerson->getCompanyName()?>">
					</div>
					<input type="hidden" name="referer" value="<?php echo $_SERVER['HTTP_REFERER']?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="window.location='<?php echo $_SERVER['HTTP_REFERER']?>'">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
		$("#code").focus();
	})
</script>