<?php echo $this -> getHelper("partial") -> partial("master/menu.phtml"); 


/**
 * @var App_Model_CorrespondenceHistory
 */
 $correspondenceHistory;
 /**
 * @var App_Model_Correspondence
 */
 $correspondence; 
?>
<div id="page-wrapper">
	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row hidden-print">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl()?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-table"></i> 
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row" id="printLayer">
			<div class="col-lg-12">
				<h2>Reporte del mes</h2><br/>				
				<form class="navbar-form navbar-left hidden-print" role="search" method="post" data-parsley-validate>
				  <div class="form-group">
				  	<label for="from"> Desde</label>
				    <input type="text" name="from" class="form-control"  id="dateFrom" value="<?= $this->from->format("d/m/Y") ?>">
				  </div>
				  <div class="form-group">
				    <label for="to">Hasta</label>
				    <input type="text" name="to" class="form-control" id="dateTo" value="<?= $this->to->format("d/m/Y") ?>">
				  </div>
				  <div class="form-group">
					  <button type="submit" class="btn btn-default">Mostrar</button>
					  <button type="button" id="print" class="btn btn-primary">Imprimir</button>
				  </div>
				</form>
				<!-- <form class="navbar-form navbar-left hidden-print" role="search" method="post">
				  <div class="form-group">
				  	Desde
				    <input type="text" name="from" class="form-control"  id="dateFrom" value="<?= $this->from->format("d/m/Y"); ?>">
				    Hasta
				    <input type="text" name="to" class="form-control" id="dateTo" value="<?= $this->to->format("d/m/Y"); ?>">
				  </div>
				  <div class="form-group">
					  <button type="submit" class="btn btn-default">Mostrar</button>
					  <button type="button" id="print" class="btn btn-primary">Imprimir</button>
				  </div>
				</form> -->
				<br>
				<br>
				<br>
				<br>
				<h3>Correspondencias Enviadas</h3>
				<br>
				<?php
					
					$subTotal=0;					
					$i=0;
					$html="";
					foreach ($this->sents as $sent){
							$i++;
							if (count($sent['correspondences'])>0) {
								
							$html.="
							<h4>".$sent['areaName']."</h4>
							<div class='table-responsive'>
							  <table class='table table-striped'>
							  	<thead>
									<tr>
										<th>#</th>
										<th>Tipo de Documento</th>
										<th>Cantidad</th>
									</tr>
									</thead>
									<tbody>";
									$correspondences=$sent['correspondences'];
									$total=0;
								for ($i=0;$i<count($correspondences);$i++){
									$html.="<tr>
											<td>".($i+1)."</td>
											<td>".$correspondences[$i]['documentType']."</td>
											<td>".$correspondences[$i]['total']."</td>
										</tr>";
										$total+=$correspondences[$i]['total'];
								}	
								$subTotal += $total;
							$html.="</tbody>
									<tfoot>
										<tr>
											<td colspan='2'>Total</td>
											<td>".$total."</td>	
										</tr>								
									</tfoot>
							  </table>
							</div>";
							}
					}
					echo $html;
				?>		
				<h3>Total de Correspondencias Enviadas: <?php echo $subTotal; ?></h3>
					<br>
					<br>
				<h3>Correspondencias Recibidas</h3>
				<br>
				<?php
					
					$subTotal=0;					
					$i=0;
					$html="";
					foreach ($this->receiveds as $received){
							$i++;
							if (count($sent['correspondences'])>0) {
								
							$html.="
							<h4>".$received['areaName']."</h4>
							<div class='table-responsive'>
							  <table class='table table-striped'>
							  	<thead>
									<tr>
										<th>#</th>
										<th>Tipo de Documento</th>
										<th>Cantidad</th>
									</tr>
									</thead>
									<tbody>";
									$correspondences=$received['correspondences'];
									$total=0;
								for ($i=0;$i<count($correspondences);$i++){
									$html.="<tr>
											<td>".($i+1)."</td>
											<td>".$correspondences[$i]['documentType']."</td>
											<td>".$correspondences[$i]['total']."</td>
										</tr>";
										$total+=$correspondences[$i]['total'];
								}	
								$subTotal += $total;
							$html.="</tbody>
									<tfoot>
										<tr>
											<td colspan='2'>Total</td>
											<td>".$total."</td>	
										</tr>								
									</tfoot>
							  </table>
							</div>";
							}
					}
					echo $html;
				?>	
				<h3>Total de Correspondencias Recibidas: <?php echo $subTotal; ?></h3>
				<br/>	
				<br/>	
				<br/>	
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
<script type="text/javascript">
	$(document).ready(function() {		
         $("#print").click(function() {
             window.print();
         });
        $('#dateFrom').datepicker({
        	dateFormat: "dd/mm/yy"
        });
        $('#dateTo').datepicker({
        	dateFormat: "dd/mm/yy"
        }); 
     });
 </script>
