<?php echo $this -> getHelper("partial") -> partial("master/menu.phtml"); 
/**
 * @var App_Model_Step
 */
 $step;


/**
 * @var App_Model_FormalityDefinition
 */
?>
<div id="page-wrapper">
	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row hidden-print">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl()?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-table"></i> 
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row" id="printLayer">
			<div class="col-lg-12">
				<h2>Reporte Por Tipo
					<?php if ($this->formalityDefinition !== null) {
						echo ": ". $this->formalityDefinition->getName();
					}?>
				</h2><br/>				
				<form class="navbar-form navbar-left hidden-print" role="search" method="post">
				  <div class="form-group">
				  	<label>Tipo de Tramite</label>
				  	<select id="formalityDefinitionId" class="form-control" name="formalityDefinitionId" required>
				  		<?php
				  			foreach($this->formalityDefinitionList as $formalityDefinition) {
				  				/**
								 * @var App_Model_FormalityDefinition
								 */
								$formalityDefinition;
								$selected = "";
								if ($this->formalityDefinition !== null && $this->formalityDefinition->getId() === $formalityDefinition->getId()) {
									$selected = " selected";
								}
				  		?>
				  			<option value="<?= $formalityDefinition->getId() ?>" <?= $selected; ?>><?= $formalityDefinition->getName(); ?></option>
				  		<?php
							}
				  		?>
				  	</select>
				  </div>
				  <div class="form-group">
				  	<label>Desde</label>
				    <input type="text" name="from" class="form-control"  id="dateFrom" value="<?= $this->from->format("d/m/Y"); ?>">
				  </div>
				  <div class="form-group">
				    <label>Hasta</label>
				    <input type="text" name="to" class="form-control" id="dateTo" value="<?= $this->to->format("d/m/Y"); ?>">
				  </div>
				  <div class="form-group">
					  <button type="submit" class="btn btn-default">Mostrar</button>
					  <button type="button" id="print" class="btn btn-primary">Imprimir</button>
				  </div>
				</form>
				<br>
				<br>
				<br>
				<h4>Tramites iniciados</h4>
				<div class="table-responsive">
				  <table class="table table-striped">
				  	<thead>
							<tr>
								<th>Codigo</th>
								<th>Fecha</th>
								<th>Responsable</th>
							</tr>
							</thead>
							<tbody>
								<?php
									/**
									 * @var App_Model_FormalityDefinition
									 */
									$formalityDefinition = $this->formalityDefinition;
									$total=0;
										foreach ($this->stepsStarted as $step) {
											/**
											 * @var App_Model_Step
											 */
											$step;
											
											if ($formalityDefinition->getFirstStep() !== null && $formalityDefinition->getFirstStep()->getId()==$step->getStepDefinition()->getId()) {
												$total++;	
												echo "
												<tr>
													<td>".$step->getFormality()->getCode()."</td>
													<td>".$step->getDateLog()->format("d-m-Y h:i:s")."</td>
													<td>".$step->getResponsible()->getFullName()."</td>
												</tr>
												";											
											}										
										}
								?>		
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">Total</td>
									<td><?=$total?></td>	
								</tr>								
							</tfoot>
				  </table>
				</div>
				<br/>	
				<h4>Tramites finalizados</h4><br/>
				<div class="table-responsive">
					  <table class="table table-striped">
					  	<thead>
							<tr>
								<th>Codigo</th>
								<th>Fecha</th>
								<th>Responsable</th>
							</tr>
							</thead>
							<tbody>
								<?php
									$total=0;
										
										foreach ($this->stepsFinished as $step) {
											if ($formalityDefinition->getId()==$step->getStepDefinition()->getFormalityDefinition()->getId()){
												$total++;	
												echo "
												<tr>
													<td>".$step->getFormality()->getCode()."</td>
													<td>".$step->getDateLog()->format("d-m-Y h:i:s")."</td>
													<td>".$step->getResponsible()->getFullName()."</td>
												</tr>
												";
											}										
										}
								?>		
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">Total</td>
									<td><?=$total?></td>	
								</tr>								
							</tfoot>
					  </table>
				</div>
				<br/>	
				<h4>Tramites Pendientes</h4><br/>
				<div class="table-responsive">
					  <table class="table table-striped">
					  	<thead>
							<tr>
								<th>Codigo</th>
								<th>Fecha</th>
								<th>Responsable</th>
							</tr>
							</thead>
							<tbody>
								<?php
									
									$total=0;
									foreach ($this->formalityDefinitionList as $formalityDefinition){
										
										foreach ($this->stepsPending as $step) {
											if ($formalityDefinition->getFirstStep()!== null && $formalityDefinition->getFirstStep()->getId()==$step->getStepDefinition()->getId()) {
												$total++;
												echo "
												<tr>
													<td>".$step->getFormality()->getCode()."</td>
													<td>".$step->getDateLog()->format("d-m-Y h:i:s")."</td>
													<td>".$step->getResponsible()->getFullName()."</td>
												</tr>
												";	
											}
										}
									}
								?>		
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">Total</td>
									<td><?=$total?></td>	
								</tr>								
							</tfoot>
					  </table>
				</div>
				<br/>	
				<h4>Tramites Iniciados y Terminados</h4><br/>
				<div class="table-responsive">
					  <table class="table table-striped">
					  	<thead>
							<tr>
								<th>Codigo</th>
								<th>Fecha</th>
								<th>Responsable</th>
							</tr>
							</thead>
							<tbody>
								<?php
									$total=0;
									foreach ($this->formalityDefinitionList as $formalityDefinition){
										
										foreach ($this->stepsStartedAndFinished as $step) {
											if ($formalityDefinition->getFirstStep() !== null && $formalityDefinition->getFirstStep()->getId()==$step->getStepDefinition()->getId()) {
												$subTotal++;
												echo "
												<tr>
													<td>".$step->getFormality()->getCode()."</td>
													<td>".$step->getDateLog()->format("d-m-Y h:i:s")."</td>
													<td>".$step->getResponsible()->getFullName()."</td>
												</tr>
												";
											}										
										}
									}
								?>		
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">Total</td>
									<td><?=$total?></td>	
								</tr>								
							</tfoot>
					  </table>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
<script type="text/javascript">
	$(document).ready(function() {
		$("#formalityDefinitionId").select2();
         $("#print").click(function() {
             window.print();
         });
        $('#dateFrom').datepicker({
        	dateFormat: "dd/mm/yy"
        });
        $('#dateTo').datepicker({
        	dateFormat: "dd/mm/yy"
        }); 
     });
 </script>
