<?php echo $this -> getHelper("partial") -> partial("master/menu.phtml"); 
/**
 * @var App_Model_Step
 */
 $step;


/**
 * @var App_Model_FormalityDefinition
 */
?>
<div id="page-wrapper">
	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row hidden-print">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl()?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-table"></i> 
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row" id="printLayer">
			<div class="col-lg-12">
				<h2>Reporte del mes</h2><br/>
				<form class="navbar-form navbar-left hidden-print" role="search" method="post">
				  <div class="form-group">
				  	<label>Desde</label>
				    <input type="text" name="from" class="form-control"  id="dateFrom" value="<?= $this->from->format("d/m/Y"); ?>">
				  </div>
				  <div class="form-group">
				    <label>hasta</label>
				    <input type="text" name="to" class="form-control" id="dateTo" value="<?= $this->to->format("d/m/Y"); ?>">
				  </div>
				  <div class="form-group">
					  <button type="submit" class="btn btn-default">Mostrar</button>
					  <button type="button" id="print" class="btn btn-primary">Imprimir</button>
				  </div>
				</form>
				<br>
				<br>
				<br>
				<h4>Tramites iniciados</h4>
				<div class="table-responsive">
				  <table class="table table-striped">
				  	<thead>
							<tr>
								<th>#</th>
								<th>Tramite</th>
								<th>Cantidad</th>
							</tr>
							</thead>
							<tbody>
								<?php
									
									$formalityDefinition;
									$subTotal=0;
									$total=0;
									$i=0;
									foreach ($this->formalitiesDefinition as $formalityDefinition){
										
										foreach ($this->stepsStarted as $step) {
											if ($formalityDefinition->getFirstStep() !== null && $formalityDefinition->getFirstStep()->getId()==$step->getStepDefinition()->getId()) {
												$subTotal++;												
											}										
										}
										if ($subTotal>0){
											$i++;									
											echo "
												<tr>
													<td>".$i."</td>
													<td>".$formalityDefinition->getName()."</td>
													<td>".$subTotal."</td>
												</tr>
												";
										}
										$total+=$subTotal;
										$subTotal=0;
									}
								?>		
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">Total</td>
									<td><?=$total?></td>	
								</tr>								
							</tfoot>
				  </table>
				</div>
				<br/>	
				<h4>Tramites finalizados</h4><br/>
				<div class="table-responsive">
					  <table class="table table-striped">
					  	<thead>
							<tr>
								<th>#</th>
								<th>Tramite</th>
								<th>Cantidad</th>
							</tr>
							</thead>
							<tbody>
								<?php
									
									$formalityDefinition;
									$subTotal=0;
									$total=0;
									$i=0;
									foreach ($this->formalitiesDefinition as $formalityDefinition){
										
										foreach ($this->stepsFinished as $step) {
											if ($formalityDefinition->getId()==$step->getStepDefinition()->getFormalityDefinition()->getId()){
												$subTotal++;												
											}										
										}
										if ($subTotal>0){
											$i++;									
											echo "
												<tr>
													<td>".$i."</td>
													<td>".$formalityDefinition->getName()."</td>
													<td>".$subTotal."</td>
												</tr>
												";
										}
										$total+=$subTotal;
										$subTotal=0;
									}
								?>		
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">Total</td>
									<td><?=$total?></td>	
								</tr>								
							</tfoot>
					  </table>
				</div>
				<br/>	
				<h4>Tramites Pendientes</h4><br/>
				<div class="table-responsive">
					  <table class="table table-striped">
					  	<thead>
							<tr>
								<th>#</th>
								<th>Tramite</th>
								<th>Cantidad</th>
							</tr>
							</thead>
							<tbody>
								<?php
									
									$formalityDefinition;
									$subTotal=0;
									$total=0;
									$i=0;
									foreach ($this->formalitiesDefinition as $formalityDefinition){
										
										foreach ($this->stepsPending as $step) {
											if ($formalityDefinition->getFirstStep()!== null && $formalityDefinition->getFirstStep()->getId()==$step->getStepDefinition()->getId()) {
												$subTotal++;												
											}										
										}
										if ($subTotal>0){
											$i++;									
											echo "
												<tr>
													<td>".$i."</td>
													<td>".$formalityDefinition->getName()."</td>
													<td>".$subTotal."</td>
												</tr>
												";
										}
										$total+=$subTotal;
										$subTotal=0;
									}
								?>		
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">Total</td>
									<td><?=$total?></td>	
								</tr>								
							</tfoot>
					  </table>
				</div>
				<br/>	
				<h4>Tramites Iniciados y Terminados</h4><br/>
				<div class="table-responsive">
					  <table class="table table-striped">
					  	<thead>
							<tr>
								<th>#</th>
								<th>Tramite</th>
								<th>Cantidad</th>
							</tr>
							</thead>
							<tbody>
								<?php
									$formalityDefinition;
									$subTotal=0;
									$total=0;
									$i=0;
									foreach ($this->formalitiesDefinition as $formalityDefinition){
										
										foreach ($this->stepsStartedAndFinished as $step) {
											if ($formalityDefinition->getFirstStep() !== null && $formalityDefinition->getFirstStep()->getId()==$step->getStepDefinition()->getId()) {
												$subTotal++;												
											}										
										}
										if ($subTotal>0){
											$i++;									
											echo "
												<tr>
													<td>".$i."</td>
													<td>".$formalityDefinition->getName()."</td>
													<td>".$subTotal."</td>
												</tr>
												";
										}
										$total+=$subTotal;
										$subTotal=0;
									}
								?>		
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">Total</td>
									<td><?=$total?></td>	
								</tr>								
							</tfoot>
					  </table>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
<script type="text/javascript">
	$(document).ready(function() {		
         $("#print").click(function() {
             window.print();
         });
        $('#dateFrom').datepicker({
        	dateFormat: "dd/mm/yy"
        });
        $('#dateTo').datepicker({
        	dateFormat: "dd/mm/yy"
        }); 
     });
 </script>
