<!-- Featured Area -->
			<div id="featured-wrapper">
			
				<div id="featured-content" class="5grid-layout">
					<div class="row">
					
						<div class="4u">
							<section>
								<h2>Maecenas luctus lectus</h2>
                                                                <img src="<?php echo $this->baseUrl().'/media/css/images/featured-icon01.png';?>" width="91" height="68" alt="">
								<p>Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo.</p>
								<a href="#" class="button button-style1">Read More</a>
							</section>
						</div>

						<div class="4u">
							<section>
								<h2>Etiam rhoncus volutpat</h2>
								<img src="<?php echo $this->baseUrl().'/media/css/images/featured-icon02.png';?>"  width="91" height="68" alt="">
								<p>Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna.</p>
								<a href="#" class="button button-style1">Read More</a>
							</section>
						</div>

						<div class="4u">
							<section>
								<h2>Mauris vulputate dolor</h2>
								<img src="<?php echo $this->baseUrl().'/media/css/images/featured-icon01.png';?>"  width="91" height="68" alt="">
								<p>In hac habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Pellentesque erat erat, tincidunt augue.</p>
								<a href="#" class="button button-style1">Read More</a>
							</section>
						</div>
					
					</div>
				</div>
				
			</div>
		
		
		<!-- Featured Ends Here -->

		<!-- Wrapper -->
		<div id="wrapper" class="5grid-layout">
		
			<!-- Page Content -->
			<div id="page" class="row">
				
				<!-- Content Area -->
				<div id="content" class="8u">
					
					<!-- Main Content Area -->
					<section>
						<h2 class="main-title">Praesent mattis condimentum</h2>
						<a href="#" class="image-style1"><img src="images/pic02.jpg" alt=""></a>
						<p>Welcome to <strong>MegaCorp</strong>, a free responsive HTML5 website template designed by <a href="http://html5templates.com/">HTML5Templates.com</a>. It features a dark,
							professional, business-oriented design perfect for all kinds of businesses and corporations.  And like all of our templates, it is built on HTML5 and 
							CSS3, has full responsive support for desktops, tablets, and mobile devices, and is 100% free to use 
							personally or commercially under the <a href="http://html5templates.com/license/">Creative Commons license</a>. 
							Be sure to check out our <a href="http://html5templates.com/">website</a> for more awesome free 
							HTML5 templates and follow us on <a href="http://twitter.com/HTML5T">Twitter</a> for updates and new releases! Enjoy!</p>
						<a href="#" class="button button-style1">Read More</a>
					</section>
					
					
					<!-- Two Column Area -->
					<section>
						<div id="two-column" class="5grid">
							<div class="row">
								<div class="6u">
									<section>
										<h2>Tristique eleifend</h2>
										<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh.</p>
										<ul class="style3">
											<li class="first">
												<p><span class="date"><a href="#">20012.10.25</a></span><span class="heading-title">Etiam posuere augue</span></p>
												<p><a href="#">Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus.</a></p>
											</li>
											<li>
												<p><span class="date"><a href="#">20012.10.25</a></span><span class="heading-title">Etiam posuere augue</span></p>
												<p><a href="#">Quisque dictum. Integer nisl risus, sagittis elementum congue, nibh. Suspendisse dictum porta lectus.</a></p>
											</li>
										</ul>
									</section>
								</div>
								<div class="6u">
									<section>
										<h2>Donec dictum metus</h2>
										<ul class="style4">
											<li class="first">
												<h3>Mauris vulputate dolor sit amet</h3>
												<p><a href="#">Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
											</li>
											<li>
												<h3>Fusce ultrices fringilla metus</h3>
												<p><a href="#">In hac habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
											</li>
											<li>
												<h3>Donec dictum metus in sapien</h3>
												<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Suspendisse sit amet tellus in eros bibendum condimentum.</a> </p>
											</li>
										</ul>
									</section>
								</div>
							</div>
						</div>					
					</section>			

	
				</div>
	
				<!-- Sidebar Area -->
				<div id="sidebar" class="4u">
				
					<!-- Sidebar Section 1 -->
					<section id="box1">
						
						<!-- Two Column Content Area -->
						<div class="5grid">
							<div class="row">
								<div class="6u">
									<section>
										<h2>Nulla  eleifend</h2>
										<ul class="style4">
											<li class="first"><a href="#">Maecenas luctus</a></li>
											<li><a href="#">Etiam rhoncus erat</a></li>
											<li><a href="#">Donec metus sapien</a></li>
											<li><a href="#">Integer quis urna</a></li>
											<li><a href="#">Etiam rhoncus erat</a></li>
											<li><a href="#">Donec metus sapien</a></li>
											<li><a href="#">Etiam volutpat erat</a></li>
										</ul>
									</section>
								</div>
								<div class="6u">
									<section>
										<h2>Nulla  eleifend</h2>
										<ul class="style4">
											<li class="first"><a href="#">Luctus sapien</a></li>
											<li><a href="#">Etiam rhoncus </a></li>
											<li><a href="#">Donec dictum metus </a></li>
											<li><a href="#">Integer gravida </a></li>
											<li><a href="#">Donec dictum </a></li>
											<li><a href="#">Integer quis urna</a></li>
											<li><a href="#">Etiam rhoncus erat</a></li>
										</ul>
									</section>
								</div>
							</div>
						</div>
						<!-- Two Column Content Area Ends Here -->
					
					</section>
	
					<!-- Sidebar Section 2 -->
					<section id="box2">
						<h2>Ipsum Consequat</h2>
						<ul class="style2">
							<li class="first">
								<p><a href="#"><img src="images/pics07.jpg" alt="">Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum. </a></p>
							</li>
							<li>
								<p><a href="#"><img src="images/pics08.jpg" alt="">Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo, vivamus fermentum augue praesent congue rutrum.</a></p>
							</li>
							<li>
								<p><a href="#"><img src="images/pics09.jpg" alt="">Suspendisse sit amet tellus in eros bibendum condimentum. Donec leo, vivamus fermentum nibh in augue praesent a lacus congue rutrum. </a></p>
							</li>
							<li>
								<p><a href="#"><img src="images/pics10.jpg" alt="">Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo, vivamus fermentum augue praesent congue rutrum.</a></p>
							</li>
						</ul>
						<a href="#" class="button button-style1">Read More</a>
					</section>


				</div>
				
			</div>
			<!-- Page Content -->
		
		</div>
		<!-- Wrapper Ends Here -->