<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>

<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li class="active">
						<i class="fa fa-home"></i> Inicio
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h1><i class="fa fa-cubes"></i> SISTC - Bienvenido!</h1>
			<p>&nbsp;</p>
			<p>
				
				SISTC (Sistema de Trámites y Correspondencia) es una herramienta de control y seguimiento 
				a la correspondencia del municipio y a los tramites que se llevan a cabo dentro del Municipio.
				
			</p>
			<p>
				SISTC proporciona las herramientas necesarias para la definicion del flujo de tramites y el control
				y seguimiento de los mismos mediante interfaces graficas amigables. 
				
			</p>
			<p>
				SISTC proporciona el resguardo y el seguimiento al flujo por el cual se transmite una correspondencia 
				comenzando por el emisor inicial, los receptores y las derivaciones posteriores hasta el ultimo 
				receptor de la correspondencia inicial. SISTC controla la correspondencia generada dentro del municipio y 
				tambien a la correspondencia proviniente de otras instituciones o personas fuera del municipio.
				
			</p>
			<p>
				Accede ahora a esta maravillosa plataforma: <a href="<?php echo $this->baseUrl("/user/login"); ?>">Ingresa Aqui</a>
			</p>
		</div>

	</div>
	<!-- /.container-fluid -->

</div>
