<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Registrar Correspondencia Externa
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3> Nueva Correspondencia</h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/correspondence/add-correspondence/origin/".$this->origin)?>" data-parsley-validate>
					<?php if ($this->origin === App_Model_Correspondence::ORIGIN_INTERNAL) { ?>
					<div class="form-group" id="correspondence-type-group">
						<label class="control-label" for="correspondence-type">Tipo de Correspondencia</label>
						<select id="correspondence-type" class="form-control" name="correspondence-type" required>
							<option>&nbsp;</option>
							<option value="<?php echo App_Model_DocumentType::INTERNAL?>">Interna</option>
							<option value="<?php echo App_Model_DocumentType::EXTERNAL?>">Externa</option>
						</select>
					</div>
					<?php } ?>
					<div class="form-group" id="document-type-external-group">
						<label class="control-label" for="document-type-external">Tipo de Documento</label>
						<select id="document-type-external" class="form-control" name="document-type-external" required>
							<?php
							foreach ($this->documentTypeExternalList as $documentType) {
								/**
								 * @var App_Model_DocumentType
								 */
								$documentType;
								echo "<option class=\"option-".$documentType->getType()."\" value=\"" . $documentType->getId() . "\">" . $documentType->getName() . "</option>";
							}
							?>
						</select>
					</div>
					<?php if (isset($this->documentTypeInternalList)) {?>
					<div class="form-group" id="document-type-internal-group">
						<label class="control-label" for="document-type-internal">Tipo de Documento</label>
						<select id="document-type-internal" class="form-control" name="document-type-internal" required>
							<?php
							foreach ($this->documentTypeInternalList as $documentType) {
								/**
								 * @var App_Model_DocumentType
								 */
								$documentType;
								echo "<option class=\"option-".$documentType->getType()."\" value=\"" . $documentType->getId() . "\">" . $documentType->getName() . "</option>";
							}
							?>
						</select>
					</div>
					<?php } ?>
					<?php if ($this->origin === App_Model_Correspondence::ORIGIN_EXTERNAL) { ?>
					<div class="form-group" id="external-person-group">
						<label class="control-label" for="external-person">Remitente</label>
						<select id="external-person" class="form-control" name="external-person" required>
							<?php
							foreach ($this->externalPersonList as $externalPerson) {
								/**
								 * @var App_Model_ExternalPerson
								 */
								$externalPerson;
								echo "<option value=\"" . $externalPerson->getId() . "\">" . $externalPerson->getFullName() . ($externalPerson->getCompanyName()!== null? " (".$externalPerson->getCompanyName().")" : "")."</option>";
							}
							?>
						</select>
						<a href="<?php echo $this->baseUrl("/external-person/add")?>">Agregar Persona Externa</a>
					</div>
					<?php } ?>
					<?php if ($this->origin === "manager") { ?>
					<div class="form-group" id="employee-group">
						<label class="control-label" for="employee">Remitente</label>
						<select id="employee" class="form-control" name="employee" required>
							<?php
							foreach ($this->employeeList as $employee) {
								/**
								 * @var App_Model_ExternalPerson
								 */
								$employee;
								echo "<option value=\"" . $employee->getId() . "\">" . $employee->getFullName() . "</option>";
							}
							?>
						</select>
					</div>
					<?php } ?>

					<div class="form-group">
						<label class="control-label" for="subject">Referencia</label>
						<input type="text" name="subject" class="form-control" id="subject" required>
					</div>
					<input type="hidden" name="referer" value="<?php echo $this->baseUrl("correspondence")?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="history.back()">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->
<script type="text/javascript" charset="utf-8">
	var origin = '<?php echo $this->origin; ?>';
	$(document).ready(function(){
		
		if(origin == "internal") {
			$("#document-type-external-group").hide();
			$("#document-type-internal-group").hide();
			$("#correspondence-type").change(function(select) {
				if(select.val == "internal") {
					$("#document-type-external-group").hide();
					$("#document-type-internal-group").show();
				} else {
					$("#document-type-external-group").show();
					$("#document-type-internal-group").hide();
				}
			});
			$("#correspondence-type").select2();
			$("#employee").select2();
			$("#document-type-internal").select2();
			$("#document-type-external").select2();
		} else if (origin == "external") {
			// $("#correspondence-type").disable();
			$("#correspondence-type-group").hide();
			$("#external-person").select2();
			$("#document-type-internal").select2();
			$("#document-type-external").select2();
		} 
	})
</script>
</div>
<!-- /#page-wrapper -->