<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                            Agregar Destinatario
                        </h3>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Agregar Destinatario
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" method="post" action="<?php echo $this->baseUrl("/correspondence/add-receiver");?>">
                        	<input type="hidden" name="correspondence-id" value="<?php echo $this->correspondence->getId();?>"></input>
                        	<?php
                        	/**
							 * @var App_Model_Correspondence
							 */
                        	$correspondence = $this->correspondence; 
                        	if($correspondence->getOrigin() === App_Model_Correspondence::ORIGIN_INTERNAL && 
                        	$correspondence->getDocumentType()->getType() === App_Model_DocumentType::EXTERNAL) { ?>
							<div class="form-group" id="external-person" name="external-person">
                                <label>Personas Externas</label>
                                <select id="external-person-id" name="external-person-id" class="form-control">
                                	<?php 
                                	foreach($this->externalPersonList as $externalPerson) {
                            			/**
										 * @var App_Model_ExternalPerson
										 */
										$externalPerson;
										$html = "<option value=\"".$externalPerson->getId()."\">".$externalPerson->getFullName();
										if ($externalPerson->getCompanyName()!== '') {
											$html .= "(".$externalPerson->getCompanyName().")";
										}
										$html .= "</option>";
										echo $html;
                                	}
                                	?>
                                </select>
                                <a href="<?php echo $this->baseUrl("/external-person/add")?>">Registrar Persona Externa</a>
                            </div>
                            <?php } else { ?>
                            <div class="form-group" id="employee" name="employee">
                                <label>Empleados</label>
                                <select id="employee-id" name="employee-id" class="form-control">
                                	<?php 
                                	foreach($this->employeeList as $employee) {
                            			/**
										 * @var App_Model_Employee
										 */
										$employee;
										$html = "<option value=\"".$employee->getId()."\">".$employee->getFullName()." (".$employee->getCompanyArea()->getName().")";
										$html .= "</option>";
										echo $html;
                                	}
                                	?>
                                </select>
                            </div>
                            <?php } ?>
                            <div class="form-group">
                                <label>Mensaje (opcional)</label>
                                <textarea name="message" class="form-control" rows="3"></textarea>
                            </div>
                            <!-- <label>Acciones</label> -->
                            <div class="form-group" id="actions">
                            	<label>Acciones</label>
                            	<?php 
                            	foreach($this->actionList as $action) {
                            		/**
									 * @var App_Model_Action
									 */
									$action;
									$html = "<label class=\"checkbox-inline\">";
									$html .= "<input name=\"actions[]\" type=\"checkbox\" value=\"".$action->getId()."\">".$action->getName();  
                            		$html .= "</label>";
                            		echo $html;
                            	}?>
                            </div>
                            <input type="hidden" name="referer" value="<?php echo $_SERVER['HTTP_REFERER']?>">
							<button type="submit" class="btn btn-primary">Agregar</button>
							<button type="button" class="btn btn-default" onclick="window.location='<?php echo $_SERVER['HTTP_REFERER']?>'">Cancelar</button>
                        </form>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script>
	$(document).ready(function(){
		$("#employee-id").select2();
		$("#external-person-id").select2();
	})
</script>