<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); 
	/**
	 * @var App_Model_Correspondence
	 */
	$correspondence = $this->correspondence;
?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Edit Correspondencia
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3> Editar Correspondencia: <?php echo $correspondence->getControlCode() ?></h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/correspondence/edit-correspondence")?>" data-parsley-validate>
					<input type="hidden" name="id" value="<?php echo $this->correspondence->getId()?>">
					
					<?php if ($correspondence->getOrigin() === App_Model_Correspondence::ORIGIN_EXTERNAL) { ?>
					<div class="form-group">
						<label class="control-label" for="external-person">Remitente</label>
						<select id="sender" class="form-control" name="sender" required>
							<?php
							foreach ($this->externalPersonList as $externalPerson) {
								/**
								 * @var App_Model_ExternalPerson
								 */
								$externalPerson;
								$html = "<option value=\"" . $externalPerson->getId() . "\"";
								if ($correspondence->getOwner()->getId() === $externalPerson->getId()) {
									$html .= " selected";
								}
								$html .= ">" . $externalPerson->getName() . "</option>";
								echo $html;
							}
							?>
						</select>
						<a href="<?php echo $this->baseUrl("/external-person/add")?>">Agregar Persona Externa</a>
					</div>
					<?php } ?>
					<div class="form-group">
						<label class="control-label" for="subject">Referencia</label>
						<input type="text" name="subject" class="form-control" id="subject" required value="<?php echo $correspondence->getSubject() ?>">
					</div>
					<input type="hidden" name="referer" value="<?php echo $this->baseUrl("/correspondence/view/id/". $correspondence->getId())?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="window.location='<?php echo $this->baseUrl("/correspondence/view/id/". $correspondence->getId())?>'">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#document-type").select2();
		$("#sender").select2();
	})
</script>
</div>
<!-- /#page-wrapper -->