<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table">Historial de correspondencia</i> 
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Historial de Correspondencia: <?php echo $this->correspondence->getControlCode()?></h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="window.back()">
								Volver
							</button>
						</div>
						<div id="graph-container" style="overflow: scroll;">
                        	<div id="history-panel"></div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

<script src="<?php echo $this->baseUrl("js/jointjs/joint.js")?>"></script>
<script src="<?php echo $this->baseUrl("js/jointjs/joint.shapes.org.js")?>"></script>
<script language="javascript">
$(document).ready(function() {
	var graph = new joint.dia.Graph;

	var paper = new joint.dia.Paper({
	    el: $('#history-panel'),
	    width: 3000,
	    height: 300,
	    gridSize: 1,
	    model: graph,
	    perpendicularLinks: true,
	    interactive: false
	});

	var member = function(x, y, rank, name, image, background, border) {

    var cell = new joint.shapes.org.Member({
        position: { x: x, y: y },
        attrs: {
            '.card': { fill: background, stroke: border},
            image: { 'xlink:href': '/sis-tramites/public/images/'+ image },
            '.rank': { text: rank }, '.name': { text: name }
        },
        size : {
        	width: 230,
        	height: 70
        }
    });
    console.log(cell);
    graph.addCell(cell);
    return cell;
};

function link(source, target, breakpoints) {

    var cell = new joint.shapes.org.Arrow({
        source: { id: source.id },
        target: { id: target.id },
        vertices: breakpoints
    });
    graph.addCell(cell);
    return cell;
}

	var historyArray = <?php echo json_encode($this->historyArray); ?>;
	var x = 50;
	var y = 70;
	var color = "#3498DB";
	if ((i + 1) == historyArray.length) {
		color = "#2ECC71";
	}
	var one = member(x, y, historyArray[0].rank, historyArray[0].ownerName, 'member1.png', color, 'gray');
	for (var i = 1; i < historyArray.length; i++) {
		x += 300;
		var color = "#3498DB";
		if ((i + 1) == historyArray.length) {
			color = "#2ECC71";
		}

		var two = member(x, y, historyArray[i].rank, historyArray[i].ownerName, 'member1.png', color, 'gray');
		link(one, two, []);
		one = two;
	}
	}); 
</script>