<?php 
/**
 * @var App_Model_Correspondence
 */
$correspondence = $this->correspondence;
foreach($correspondence->getReceivers() as $receiver) {
	
	/**
	 * @var App_Model_Correspondence
	 */
	$receiver;
?>
<table class="page-path-table">
	<thead>
		<th class="page-path-code">
			Codigo: <br/><?php echo $correspondence->getControlCode() ?>
		</th>
		<th class="page-path-title" colspan="2">
			<h2>HOJA DE RUTA</h2>
		</th>
		<th class="page-path-date">
			Fecha de envio: <br/><?php 
				$correspondenceHistory = $correspondence->getCorrespondenceHistoryNodeByStatus(App_Model_Correspondence::STATUS_SENT); 
				if($correspondenceHistory != null) {
					echo $correspondenceHistory->getDateLog()->format('Y-m-d H:i:s');
				} else {
					$correspondenceHistory = $correspondence->getCorrespondenceHistoryNodeByStatus(App_Model_Correspondence::STATUS_RESENT);
					if ($correspondenceHistory != null) {
						echo $correspondenceHistory->getDateLog()->format('Y-m-d H:i:s');
					} else {
						echo "Sin fecha registrada";
					}
				}
				
				?>
		</th>
	</thead>
	<tbody>
		<tr>
			<td class="page-path-content" colspan="4">
				<p>
					<strong>Ref.: </strong> <?php echo $correspondence->getSubject(); ?>
				</p>
			</td>
		</tr>
	</tbody>
	<tfooter>
		<td class="page-path-sender" colspan="2">
			_________________________________<br/>
			<?php
				echo $correspondence->getOwner()->getFullName();
				echo "<br/>";
				if ($correspondence->getOwner() instanceof App_Model_Employee) {
					/**
					 * @var App_Model_Employee
					 */
					$owner = $correspondence->getOwner();
					if($owner->getCompanyArea() != null) {
						echo "<strong>".$owner->getCompanyArea()->getName()."</strong>";
					}
				} else {
					/**
					 * @var App_Model_ExternalPerson
					 */
					$owner = $correspondence->getOwner();
					if($owner->getCompanyName() != null) {
						echo "<strong>".$owner->getCompanyName()."</strong>";
					} 
				}
			?>
		</td>
		<td class="page-path-receiver" colspan="2">
			_________________________________<br/>
			<?php
				echo $receiver->getOwner()->getFullName();
				echo "<br/>";
				if ($receiver->getOwner() instanceof App_Model_Employee) {
					/**
					 * @var App_Model_Employee
					 */
					$owner = $receiver->getOwner();
					if($owner->getCompanyArea() != null) {
						echo "<strong>".$owner->getCompanyArea()->getName()."</strong>";
					}
				} else {
					/**
					 * @var App_Model_ExternalPerson
					 */
					$owner = $receiver->getOwner();
					if($owner->getCompanyName() != null) {
						echo "<strong>".$owner->getCompanyName()."</strong>";
					} 
				}
			?>
		</td>
	</tfooter>
</table>
<table class="page-path-table">
	<thead>
		<th class="page-path-code">
			Codigo: <br/><?php echo $correspondence->getControlCode() ?>
		</th>
		<th class="page-path-title" colspan="2">
			<h2>HOJA DE RUTA</h2>
		</th>
		<th class="page-path-date">
			Fecha de envio: <br/><?php 
				$correspondenceHistory = $correspondence->getCorrespondenceHistoryNodeByStatus(App_Model_Correspondence::STATUS_SENT); 
				if($correspondenceHistory != null) {
					echo $correspondenceHistory->getDateLog()->format('Y-m-d H:i:s');
				} else {
					$correspondenceHistory = $correspondence->getCorrespondenceHistoryNodeByStatus(App_Model_Correspondence::STATUS_RESENT);
					if ($correspondenceHistory != null) {
						echo $correspondenceHistory->getDateLog()->format('Y-m-d H:i:s');
					} else {
						echo "Sin fecha registrada";
					}
				}
			?>
		</th>
	</thead>
	<tbody>
		<tr>
			<td class="page-path-content" colspan="4">
				<p>
					<strong>Ref.: </strong> <?php echo $correspondence->getSubject(); ?>
				</p>
			</td>
		</tr>
	</tbody>
	<tfooter>
		<td class="page-path-sender" colspan="2">
			_________________________________<br/>
			<?php
				echo $correspondence->getOwner()->getFullName();
				echo "<br/>";
				if ($correspondence->getOwner() instanceof App_Model_Employee) {
					/**
					 * @var App_Model_Employee
					 */
					$owner = $correspondence->getOwner();
					if($owner->getCompanyArea() != null) {
						echo "<strong>".$owner->getCompanyArea()->getName()."</strong>";
					}
				} else {
					/**
					 * @var App_Model_ExternalPerson
					 */
					$owner = $correspondence->getOwner();
					if($owner->getCompanyName() != null) {
						echo "<strong>".$owner->getCompanyName()."</strong>";
					} 
				}
			?>
		</td>
		<td class="page-path-receiver" colspan="2">
			_________________________________<br/>
			<?php
				echo $receiver->getOwner()->getFullName();
				echo "<br/>";
				if ($receiver->getOwner() instanceof App_Model_Employee) {
					/**
					 * @var App_Model_Employee
					 */
					$owner = $receiver->getOwner();
					if($owner->getCompanyArea() != null) {
						echo "<strong>".$owner->getCompanyArea()->getName()."</strong>";
					}
				} else {
					/**
					 * @var App_Model_ExternalPerson
					 */
					$owner = $receiver->getOwner();
					if($owner->getCompanyName() != null) {
						echo "<strong>".$owner->getCompanyName()."</strong>";
					} 
				}
			?>
		</td>
	</tfooter>
	
</table>
<div style="page-break-after: always;"></div>
<?php
}
?>