<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Correspondencia Enviada
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Correspondencia Enviada</h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("correspondence/add-correspondence/origin/".App_Model_Correspondence::ORIGIN_INTERNAL)?>'">
								Nueva Correspondencia
							</button>
						</div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="correspondence">
							<thead>
									<th>Codigo</th>
									<th>Fecha</th>
									<th>Estado</th>
									<th>Referencia</th>
									<th>Destinatarios</th>
							</thead>
							<tbody>
							<?php 
								foreach($this->sentCorrespondenceList as $correspondence)
								{
									/**
									 * @var App_Model_Correspondence
									 */
									$correspondence;
							?>
								<tr>
									<td><a href='<?php echo $this->url(array('controller' => 'correspondence',
																 		 'action'     => 'view',
																		 'id'     	  => $correspondence->getId(),
																), 'default', true) . "'>". $correspondence->getControlCode() ?></a></td>
									<td><?php 
										$dateReceived = $correspondence->getLastHistoryNode()->getDateLog()->format('d-m-Y H:i:s');
									echo $dateReceived; ?></td>
									<td>
										<span class="label 
										<?php if ($correspondence->getStatus() === App_Model_Correspondence::STATUS_SENT
										|| $correspondence->getStatus() === App_Model_Correspondence::STATUS_RESENT) { 
											echo "label-success";
										} elseif ($correspondence->getStatus() === App_Model_Correspondence::STATUS_DELETED) {
											echo "label-danger";
										} elseif ($correspondence->getStatus() === App_Model_Correspondence::STATUS_ARCHIVED) {
											echo "label-default";
										} else {
											echo "label-warning";
										}
										?>
										">
										<?php
											echo $correspondence->getNaturalStatus();
										?>
										</span>
									</td>
									<td><?php echo $correspondence->getSubject(); ?></td>
									<td><?php 
									foreach($correspondence->getReceivers() as $receiver) {
										/**
										 * @var App_Model_Correspondence
										 */
										$receiver;
										echo $receiver->getOwner()->getFullName(); 
										  if (($receiver->getOwner() instanceof App_Model_ExternalPerson) && $receiver->getOwner()->getCompanyName() !== null)
										      echo '<br/><span class="text-info">'.$receiver->getOwner()->getCompanyName()."</span>"; 
										  if($receiver->getOwner() instanceof App_Model_Employee && $receiver->getOwner()->getCompanyArea() != null) {
											echo '<br/><span class="text-info">'. $receiver->getOwner()->getCompanyArea()->getName()."</span>";
										  }
										echo "</br>";
									} 
									
									?>
									</td>
								</tr>
							<?php
								}
							?>
							</tbody>
						</table>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script language="javascript">
	$(document).ready(function() {
		$("#correspondence").dataTable(
			{"order": [[ 1, "desc" ]]}
		);
	});
</script>