<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Subir Archivo
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3> Subir Archivo Correspondencia </h3>
				<form enctype="multipart/form-data" role="form" method="post" action="<?php echo $this->baseUrl("/correspondence/upload"); ?>" data-parsley-validate>
					<input type="hidden" name="id" value="<?php echo $this->correspondence->getId()?>">
					<div class="form-group">
						<label class="control-label" for="upload-file">Subir Archivo</label>
						<input type="file" name="upload-file" class="form-control" id="upload-file" required>
					</div>
					<input type="hidden" name="referer" value="<?php echo $_SERVER['HTTP_REFERER']?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="window.location='<?php echo $_SERVER['HTTP_REFERER']?>'">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
	})
</script>