<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li>
						<i class="fa fa-dashboard"></i><a href="#" onclick="window.history.back()">Listado Correspondencia</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Detalle Correspondencia
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<?php
		/**
		 * @var App_Model_Correspondence
		 */
		$correspondence = $this->correspondence;
		?>
		<div class="row">
			<div class="col-lg-12">
				<h3>Detalle de Correspondencia: <?php echo $correspondence->getControlCode(); ?></h3>
				<div class="row">
					<div class="col-sm-6 form-group" >
						<label>Remitente: </label>
						<div>
						<?php
						if($correspondence->getSender() === null) {
							echo $correspondence->getOwner()->getFullName();
						} else {
							echo $correspondence->getSender()->getOwner()->getFullName();
						}
						?></div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Referencia: </label>
						<div>
						<?php
							echo $correspondence->getSubject();
						?></div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Tipo Documento: </label>
						<div>
						<?php
							echo $correspondence->getDocumentType()->getName();
						?></div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Status: </label>
						<div>
							<span class="label 
							<?php if ($correspondence->getStatus() === App_Model_Correspondence::STATUS_SENT
							|| $correspondence->getStatus() === App_Model_Correspondence::STATUS_RESENT) { 
								echo "label-success";
							} elseif ($correspondence->getStatus() === App_Model_Correspondence::STATUS_DELETED) {
								echo "label-danger";
							} elseif ($correspondence->getStatus() === App_Model_Correspondence::STATUS_ARCHIVED) {
								echo "label-default";
							} else {
								echo "label-warning";
							}
							?>
							">
						<?php
							echo $correspondence->getNaturalStatus();
						?>
							</span>
						</div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Acciones: </label>
						<div>
							<ul>
						<?php
							foreach ($correspondence->getAssignedActions() as $assignedAction) {
								echo "<li>".$assignedAction->getAction()->getName()."</li>";
							}
						?>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Mensaje: </label>
						<div>
						<?php
							echo $correspondence->getMessage();
						?></div>
					</div>
				</div>
				<div class="form-group">
					<?php if(!$this->readOnly && $correspondence->getFilePath() !== NULL) { ?>
					<button type="button" class="btn btn-info" onclick="window.open('<?php echo $this->baseUrl('/file/correspondence/'.$correspondence->getFilePath())?>')">
						Ver Adjunto
					</button>
					<?php } if (!$this->readOnly && $correspondence->getStatus()=== App_Model_Correspondence::STATUS_TO_SEND) { ?>
					<button type="button" class="btn btn-primary" onclick="window.location = '<?php echo $this->baseUrl("correspondence/upload/id/". $correspondence->getId())?>'">
						<?php if($correspondence->getFilePath() === null) {
							echo "Subir Archivo";
						} else {
							echo "Remmplazar Archivo";
						}
						?>
					</button>
					<?php } if(!$this->readOnlyl && ($correspondence->getStatus()=== App_Model_Correspondence::STATUS_TO_SEND || $correspondence->getStatus()=== App_Model_Correspondence::STATUS_TO_RESEND)) { ?>
					<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("correspondence/send/id/". $correspondence->getId())?>'" 
						<?php if ($correspondence->getFilePath() === null || count($correspondence->getReceivers()) === 0) {
							echo "disabled";
						} 
						?>
					>
						Enviar
					</button>
					<?php } elseif(!$this->readOnly && $correspondence->getStatus()=== App_Model_Correspondence::STATUS_WAITING) {?>
					<button type="button" class="btn btn-primary" onclick="location.href= '<?php echo $this->baseUrl("correspondence/end-reception/id/". $correspondence->getId())?>'">
						Finalizar Recepcion
					</button>
					<?php } elseif(!$this->readOnly && ($correspondence->getStatus()=== App_Model_Correspondence::STATUS_RECEIVED || $correspondence->getStatus()=== App_Model_Correspondence::STATUS_RESENT)) {?>
					<button type="button" class="btn btn-primary" onclick="location.href= '<?php echo $this->baseUrl("correspondence/start-resend/id/". $correspondence->getId())?>'">
						Reenviar
					</button>
					<?php } ?>
					<?php if (!$this->readOnly && $correspondence->getStatus() === App_Model_Correspondence::STATUS_TO_SEND) { ?>
					<button type="button" class="btn btn-primary" onclick="location.href= '<?php echo $this->baseUrl("correspondence/edit-correspondence/id/". $correspondence->getId())?>'">
						Modificar
					</button>
					<button type="button" class="btn btn-danger" onclick="window.location = '<?php echo $this->baseUrl("correspondence/delete/id/". $correspondence->getId())?>'">
						Eliminar
					</button>
					<?php } ?>
					<?php if (!$this->readOnly && $correspondence->getStatus() === App_Model_Correspondence::STATUS_TO_RESEND) {?>
						<button type="button" class="btn btn-danger" onclick="window.location = '<?php echo $this->baseUrl("correspondence/cancel-to-resend/id/". $correspondence->getId())?>'">
							Cancel
						</button>
					<?php } ?>
					<?php if (!$this->readOnly && ($correspondence->getStatus() === App_Model_Correspondence::STATUS_SENT || $correspondence->getStatus() === App_Model_Correspondence::STATUS_RESENT || $correspondence->getStatus() === App_Model_Correspondence::STATUS_RESENT)) {?>
					<button type="button" class="btn btn-info" onclick="window.open('<?php echo $this->baseUrl("correspondence/path-page/id/". $correspondence->getId())?>')">
						<i class="fa fa-print"></i> Hoja de Ruta
					</button>
					<?php } ?>
					<?php if (!$this->readOnly && ($correspondence->getStatus() === App_Model_Correspondence::STATUS_RECEIVED || $correspondence->getStatus() === App_Model_Correspondence::STATUS_SENT || $correspondence->getStatus() === App_Model_Correspondence::STATUS_RESENT)) {?>
					<button type="button" class="btn btn-default" onclick="window.location = '<?php echo $this->baseUrl("correspondence/archive/id/". $correspondence->getId())?>'">
						Archivar
					</button>
					<?php } ?>
					<button type="button" class="btn btn-warning" onclick="window.location = '<?php echo $this->baseUrl("correspondence/history/id/". $correspondence->getId())?>'">
						Historico
					</button>
					
				</div>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h4>Destinatarios: </h4>
				<?php if(!$this->readOnly && ($correspondence->getStatus() === App_Model_Correspondence::STATUS_TO_SEND
					|| $correspondence->getStatus() === App_Model_Correspondence::STATUS_TO_RESEND)) {?>
				<div class="form-group">
					<button type="button" class="btn btn-primary" onclick="window.location= '<?php
						$url = "correspondence/add-receiver/id/".$correspondence->getId();
						echo $this->baseUrl($url)?>'">
						Agregar Destinatario
					</button>
				</div>
				<?php } ?>
				<table id='receivers-datatable'>
								<thead>
										<th>Nombre</th>
										<th>Acciones a Seguir</th>
										<th>Mensaje</th>
										<th>Operaciones</th>
								</thead>
								<tbody>
								<?php 
									foreach($correspondence->getReceivers() as $receiver)
									{
										/**
										 * @var App_Model_Correspondence
										 */
										$receiver;
								?>
									<tr>
										<td><?php echo $receiver->getOwner()->getName().' '.
												   $receiver->getOwner()->getLastName(); 
											  if ($receiver->getOwner() instanceof App_Model_ExternalPerson)
											      echo ' - '.$receiver->getOwner()->getCompanyName(); ?>
										</td>
										<td><?php 
											foreach($receiver->getAssignedActions() as $assignedAction) {
												/**
												 * @var App_Model_AssignedAction
												 */
												$assignedAction;
												
												echo '::'.$assignedAction->getAction()->getName();
											} 
										?></td>
										<td><?php echo $receiver->getMessage(); ?></td>
										<td>
										<?php if ($receiver->getStatus() === App_Model_Correspondence::STATUS_TO_WAIT) { ?>
											<button type="button" class="btn btn-danger" onclick="window.location= '<?php echo $this->baseUrl("/correspondence/delete-receiver/id/". $receiver->getId())?>'">
												Eliminar
											</button>
										</td>
										<?php }
											echo "Ya fue enviado.";
										?>
									</tr>
								<?php
									}
								?>
								</tbody>
							</table>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
<script>
	$(document).ready(function() {
		$("#receivers-datatable").DataTable();
	});
</script>
</div>
<!-- /#page-wrapper -->