body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.page-path-table {
	margin-top: 30px;
	width: 100%;
}

.page-path-table, th, td {
	border: 1px solid #000;
}
.page-path-code {
	width: 25%;
	font-size: 8pt;
}

.page-path-title {
	width: 50%;
}

.page-path-date {
	width: 25%;
	font-size: 8pt;
}

.page-path-content {
	padding: 1cm;
	height: 6cm;
	vertical-align: top;
}

.page-path-sender {
	text-align: center;
	height: 3cm;
}

.page-path-receiver {
	text-align: center;
	height: 3cm;
}
