<?php echo $this->mainMenu(); ?>

<div class="center_content">  
<form action="<?php echo $this->baseUrl("/test/test2");?>" method="post">
	
	<input name="button" type="submit" value="submit"/>
</form>
</div>
