<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Definicion de Tramites
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Definicion de Tramites</h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("formality-definition/add")?>'">
								Nuevo Tramite
							</button>
						</div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="formalities">
							<thead>
									<th>Codigo</th>
									<th>Nombre</th>
									<th>Acciones</th>
							</thead>
							<tbody>
							<?php 
								foreach($this->formalityDefinitionList as $formalityDefinition)
								{
									/**
									 * @var App_Model_FormalityDefinition
									 */
									$formalityDefinition;
							?>
								<tr>
									<td><?php echo $formalityDefinition->getCode(); ?></td>
									<td><?php echo $formalityDefinition->getName();?></td>
									<td><a href="<?php echo $this->baseUrl("formality-definition/modify/id/". $formalityDefinition->getId())?>">Modificar</a></td>
								</tr>
							<?php
								}
							?>
							</tbody>
						</table>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script language="javascript">
	$(document).ready(function() {
		$("#formalities").dataTable();
	});
</script>