<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="node-dialog" style="display:none;">
	<input type="hidden" id="model-id" name="model-id">
	<input type="hidden" id="node-id" name="node-id">
	<div class="form-group">
		<label class="control-label" for="name">Responsable</label>
		<select id="company-area-id" name="company-area-id" >
			<option value="">&nbsp;</option>
			<?php
			foreach ($this->companyAreaList as $companyArea) {
				/**
				 * @var App_Model_CompanyArea
				 */
				$companyArea;
				echo "<option id=\"company-area-".$companyArea->getId()."\" value=\"" . $companyArea->getId() . "\" data-model-code=\"".$companyArea->getCode()."\">" . $companyArea->getName() . "</option>";
			}
			?>
		</select>
	</div>
	<div class="form-group">
		<label class="control-label" for="step-name">Nombre</label>
		<input type="text" class="form-control" id="step-name" name="step-name" required>
	</div>
	<div class="form-group">
		<label class="control-label" for="step-description">description</label>
		<textarea type="text" class="form-control" id="step-description" name="step-description" ></textarea>
	</div>
	
	<button id="btn-submit-node-dialog" class="btn btn-primary" type="button">
		Guardar
	</button>
	<button id="btn-cancel-node-dialog" class="btn btn-default" type="button">
		Cancelar
	</button>
</div>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Registrar Definicion de Tramite
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Modificar Definicion de Tramite</h3>
				<?php 
					/**
					 * @var App_Model_FormalityDefinition 
					 */
					$formalityDefinition = $this->formalityDefinition;
				?>
				<form id="formality-definition-form" role="form" method="post" action="<?php echo $this->baseUrl("formality-definition/save")?>" data-parsley-validate>
					<input type="hidden" name="formality-definition-id" class="form-control" value="<?php echo $formalityDefinition->getId(); ?>" >
					<div class="form-group">
						<label class="control-label" for="code">Codigo</label>
						<input type="text" name="code" class="form-control" id="code" required value="<?php echo $formalityDefinition->getCode();?>">
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Nombre</label>
						<input type="text" name="name" class="form-control" id="name" required value="<?php echo $formalityDefinition->getName(); ?>">
					</div>
					<div class="form-group">
						<button type="button" id="add-node-button" class="btn btn-primary" onclick="showNodeDialog(true)">
							Agregar Paso
						</button>
						<button type="button" id="edit-node-button" class="btn btn-primary" onclick="showNodeDialog(false)">
							Modificar Paso
						</button>
						<button type="button" id="delete-node-button" class="btn btn-danger" onclick="deleteNode()">
							Eliminar Paso
						</button>
						<button type="button" id="link-node-button" class="btn btn-warning" onclick="startLinkNode()">
							Link
						</button>
						<button type="button" class="btn btn-primary" onclick="setFirstNode()">
							Establecer Como Paso Inicial
						</button>
					</div>
					<div class="form-group">
						<div style="overflow: scroll">
							<div id="paper"></div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">
						Guardar
					</button>
					<button type="button" class="btn btn-default" onclick="parent.location='<?php echo $this->baseUrl("formality-definition")?>'">
						Cancelar
					</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->
	<script type="text/javascript">
		var loadedNodes = <?php echo json_encode($this->nodes); ?>
	</script>
	<script type="text/javascript" src="<?php echo $this->baseUrl("js/jointjs/joint.js")?>"></script>
	<script src="<?php echo $this->baseUrl("js/jointjs/joint.shapes.uml.js")?>"></script>
	<script src="<?php echo $this->baseUrl("js/formality-definition-diagram.js")?>"></script>
</div>
<!-- /#page-wrapper -->