<h1>Descripcion de tramite</h1>

<a href='<?php echo $this->url(
					array(
						'controller' => 'formalityDefinition',
						'action'     => 'index'
					), 'default', true) ?>'>Lista de Tramites</a>


<table border='1'>
	<tr>
		<th>Tramite:</th>
		<td><?php echo $this->formalityDefinition->getName(); ?></td>
	</tr>
	<tr>
		<th>Descripcion:</th>
		<td><?php echo $this->formalityDefinition->getDescription();?></td>
	</tr>
	<tr>
		<th>Pasos:</th>
		<td><?php echo $this->formalityDefinition->getSteps(); ?></td>
	</tr>
</table>