<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Nuevo Tramite
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Nuevo Tramite</h3>
				<form id="formality-definition-form" role="form" method="post" action="<?php echo $this->baseUrl("formality/add")?>" data-parsley-validate>
					<div class="form-group">
						<label class="control-label" for="formality-definition-id">Tramite:</label>
						<select id="formality-definition-id" class="form-control" name="formality-definition-id" required>
							<?php
							foreach ($this->formalityDefinitionList as $formalityDefinition) {
								/**
								 * @var App_Model_FormalityDefinition
								 */
								$formalityDefinition;
								echo "<option value=\"" . $formalityDefinition->getId() . "\">" . $formalityDefinition->getName() . "</option>";
							}
							?>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Nombre Ciudadano</label>
						<input type="text" name="citizen" class="form-control" id="citizen" required>
					</div>
					<button type="submit" class="btn btn-primary">
						Guardar
					</button>
					<button type="button" class="btn btn-default" onclick="location.href='<?php echo $this->baseUrl("formality")?>'">
						Cancelar
					</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#formality-definition-id").select2();
	});
</script>
