<?php
	/**
	 * @var App_Model_Formality
	 */
	$formality = $this->formality;
	/**
	 * @var App_Model_Step
	 */
	$lastStep = $formality->getLastStep();
	
	/**
	 * @var App_Model_StepDefinition
	 */
	$stepDefinition = $lastStep->getStepDefinition();
?>
<div id="step-form-dialog" style="display:none;">
	<form id="step-form" method="post" action="<?php echo $this->baseUrl(); ?>">
		<input type="hidden" id="formality-id" name="formality-id" value="<?php echo $formality->getId(); ?>">
		<input type="hidden" id="action" name="action">
		<div class="form-group">
			<label class="control-label" for="message">Mensaje</label>
			<textarea class="form-control" id="message" name="message"></textarea>
		</div>
		<?php if(count($stepDefinition->getNextSteps()) > 0) { ?>
		<div id="next-step-container">
			<div class="form-group">
				<label class="control-label" for="next-step-definition-id">Siguiente Paso</label>
				<select class="form-control" id="next-step-definition-id" name="next-step-definition-id">
					<?php 
						foreach($stepDefinition->getNextSteps() as $nextStep) {
							/**
							 * @var App_Model_StepDefinition
							 */
							$nextStep;
							$html = "<option id=\"step-definition-".$nextStep->getId()."\" value=\"".$nextStep->getId()."\" 
								data-company-area-id=\"".$nextStep->getResponsible()->getId()."\" 
								data-company-area-name=\"".$nextStep->getResponsible()->getName() ."\">". $nextStep->getTitle() ."</option>";
							echo $html;
						}
					?>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label" for="next-employee-id">Area: <span id="company-area-label"></span></label>
				<select class="form-control" id="next-employee-id" name="next-employee-id"></select>
			</div>
		</div>
		<?php } ?>
		<button type="submit" class="btn btn-primary">
			Continuar
		</button>
	</form>
</div>
<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li>
						<i class="fa fa-dashboard"></i><a href="#" onclick="window.history.back()">Listado Tramites</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Detalle de Tramite
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Detalle de Tramite: <?php echo $formality->getCode(); ?></h3>
				<div class="row">
					<div class="col-sm-6 form-group" >
						<label>Nombre del Tramite: </label>
						<div>
							<?php echo $formality->getFormalityDefinition()->getName(); ?>
						</div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Solicitante: </label>
						<div>
							<?php echo $formality->getCitizen(); ?>
						</div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Estado: </label>
						<div>
							<?php echo $lastStep->getNaturalStatus(); ?>
						</div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Fecha de Recepcion: </label>
						<div>
							<?php //TODO:Mostrar con colores cuando los dias son demasiados luego de la recepcion ?>
							<span class="label label-warning">
								<?php echo $lastStep->getDateReceived()->format('d-m-Y'); ?>
							</span>
						</div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Titulo del Paso actual: </label>
						<div>
							<?php echo $stepDefinition->getTitle(); ?>
						</div>
					</div>
					<div class="col-sm-6 form-group" >
						<label>Descripcion del Paso Actual: </label>
						<div>
							<?php echo $stepDefinition->getDescription(); ?>
						</div>
					</div>
				</div>
				<div class="form-group">
					<?php if($lastStep->getStatus() != App_Model_Step::STATUS_DONE || $lastStep->getStatus() != App_Model_Step::STATUS_CANCELED) {
						
					if($lastStep->getStatus() == App_Model_Step::STATUS_OPEN) { ?>
					<button type="button" class="btn btn-info" onclick="inprogressForm()">
						Comenzar Progreso
					</button>
					<?php } elseif ($lastStep->getStatus() == App_Model_Step::STATUS_IN_PROGRESS) { ?>
					<button type="button" class="btn btn-info" onclick="openForm()">
						Detener Progreso
					</button>
					<?php } ?>
					<button type="button" class="btn btn-primary" onclick="doneForm()">
						Finalizar
					</button>
					<button type="button" class="btn btn-primary" onclick="window.open('<?php echo $this->baseUrl("formality/history/id/". $formality->getId())?>')">
						Historico del Tramite
					</button>
					<!-- <button type="button" class="btn btn-primary" onclick="returnForm()">
						Retornar
					</button> -->
					<button type="button" class="btn btn-danger" onclick="cancelForm()">
						Cancelar
					</button>
					<?php } else { ?>
						<button type="button" class="btn btn-primary" onclick="reopenForm()">
							Cancelar
						</button>
					<?php } ?>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
<script>
	$(document).ready(function() {
		$("#next-step-definition-id").on("change", function(e) {
			loadEmployees();
		});
		loadEmployees();
		// $("#next-employee-id").select2();
		
		$("#step-form").submit(function(e) {
			console.log(e);
			console.log(this);
			console.log($(this));
			var baseAction = $(this).attr("action");
			console.log($("#action"));
			$(this).attr("action", baseAction+ $("#action").val());
		})
	});
	
	function inprogressForm() {
		dialogOpen();
		$("#action").val("/formality/inprogress/");
	}
	function openForm() {
		dialogOpen();
		$("#action").val("/formality/open");
	}
	function doneForm() {
		dialogOpen();
		$("#action").val("/formality/done");
		$("#next-step-container").show();
	}
	function cancelForm() {
		dialogOpen();
		$("#action").val("/formality/cancel");
	}
	function returnForm() {
		dialogOpen();
		$("#action").val("/formality/return");
	}
	
	function dialogOpen() {
		$("#message").val("");
		$("#action").val("");
		$("#next-step-container").hide();
		$("#step-form-dialog").dialog({
			width : 420,
			height : 420,
			show : "scale",
			hide : "scale",
			resizable : "false",
			// position: "center",
			modal : "true"
		});
	}
	
	function loadEmployees() {
		var nextStepId = $("#next-step-definition-id").val();
		var companyAreaId = $("#step-definition-" + nextStepId).attr("data-company-area-id");
		$("#company-area-label").text($("#step-definition-" + nextStepId).attr("data-company-area-name"));
		console.log(nextStepId);
		console.log(companyAreaId);
		
		$.ajax({
			"url" : '/sis-tramites/public/employee/ajax-get-employees',
			"type" : "post",
			"dataType" : "json",
			"data" : {
				"company-area-id": companyAreaId
			},
			"success" : function(data, textStatus, jqXHR) {
				var html = "";
				$.each(data, function(key, value) {
					html += "<option value='"+value.id+"'>"+value.fullName+"</option>";
				});
				$("#next-employee-id").html(html);
			}
		});
		
	}
</script>
</div>
<!-- /#page-wrapper -->