<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); 

/**
 * @var App_Model_Formality
 */
$formality = $this->formality;
?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Historico de Tramite
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                    	<?php 
                    		if($this->successMessage !== null) {
                    	?>
                    	<div class="alert alert-success">
                    		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    		<strong>Exito!</strong> <?= $this->successMessage; ?>
                    	</div>
                    	<?php 
                    		} if($this->warningMessage !== null) {
                    	?>
                    	<div class="alert alert-warning">
                    		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    		<strong>Alerta!</strong> <?= $this->warningMessage; ?>
                    	</div>
                    	<?php 
                    		} if($this->errorMessage !== null) {
                    	?>
                    	<div class="alert alert-danger">
                    		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    		<strong>Error!</strong> <?= $this->errorMessage; ?>
                    	</div>
                    	<?php 
                    		} if($this->infoMessage !== null) {
                    	?>
                    	<div class="alert alert-info">
                    		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    		<strong>Info!</strong> <?= $this->infoMessage; ?>
                    	</div>
                    	<?php 
                    		}
                    	?>
                        <h2>Historico del Tramite: <?php echo $formality->getCode() ?></h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="correspondence">
							<thead>
									<th>Fecha</th>
									<th>Responsable</th>
									<th>Estado</th>
									<th>Mensaje</th>
							</thead>
							<tbody>
								<?php foreach($formality->getStepHistory() as $step) {
									/**
									 * @var App_Model_Formality
									 */
									$formality;
								?>
								<tr>
									<td><?php echo $step->getDateLog()->format("d-m-Y h:i:s") ?></td>
									<td><?php echo $step->getResponsible()->getFullName() ?></td>
									<td><?php echo $step->getNaturalStatus(); ?></td>
									<td><?php echo $step->getDescription(); ?></td>
								</tr>
								<?php } ?>
							</tbody>
						</table>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script language="javascript">
	$(document).ready(function() {
		$("#correspondence").dataTable();
	});
</script>