<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Tramites en Curso
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                    	<?php 
                    		if($this->successMessage !== null) {
                    	?>
                    	<div class="alert alert-success">
                    		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    		<strong>Exito!</strong> <?= $this->successMessage; ?>
                    	</div>
                    	<?php 
                    		} if($this->warningMessage !== null) {
                    	?>
                    	<div class="alert alert-warning">
                    		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    		<strong>Alerta!</strong> <?= $this->warningMessage; ?>
                    	</div>
                    	<?php 
                    		} if($this->errorMessage !== null) {
                    	?>
                    	<div class="alert alert-danger">
                    		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    		<strong>Error!</strong> <?= $this->errorMessage; ?>
                    	</div>
                    	<?php 
                    		} if($this->infoMessage !== null) {
                    	?>
                    	<div class="alert alert-info">
                    		<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    		<strong>Info!</strong> <?= $this->infoMessage; ?>
                    	</div>
                    	<?php 
                    		}
                    	?>
                        <h2>Tramites en Curso</h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("formality/add")?>'">
								Nuevo Tramite
							</button>
						</div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="correspondence">
							<thead>
									<th>Codigo</th>
									<th>Nombre</th>
									<th>Solicitante</th>
									<th>Paso Actual</th>
									<th>Estado</th>
							</thead>
							<tbody>
								<?php foreach($this->formalityList as $formality) {
									/**
									 * @var App_Model_Formality
									 */
									$formality;
								?>
								<tr>
									<td><a href="<?php echo $this->baseUrl("formality/detail/id/". $formality->getId());?>"><?php echo $formality->getCode()?></a></td>
									<td><?php echo $formality->getFormalityDefinition()->getName(); ?></td>
									<td><?php echo $formality->getCitizen() ?></td>
									<td><?php echo $formality->getLastStep()->getStepDefinition()->getTitle() ?></td>
									<td><?php echo $formality->getLastStep()->getNaturalStatus(); ?></td>
								</tr>
								<?php } ?>
							</tbody>
						</table>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script language="javascript">
	$(document).ready(function() {
		$("#correspondence").dataTable();
	});
</script>