<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Agregar Tipo de Documento
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3> Agregar Tipo de Documento </h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/document-type/add"); ?>" data-parsley-validate>
					<div class="form-group">
						<label class="control-label" for="code">Codigo</label>
						<input type="text" name="code" class="form-control" id="code" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Nombre</label>
						<input type="text" name="name" class="form-control" id="name" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="description">Descripcion</label>
						<input type="text" name="description" class="form-control" id="description" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="type">Ambito</label>
						<select id="role" class="form-control" name="type" required>
							<option value="<?php echo App_Model_DocumentType::EXTERNAL; ?>">Externa</option>
							<option value="<?php echo App_Model_DocumentType::INTERNAL; ?>">Interna</option>
						</select>
					</div>
					<input type="hidden" name="referer" value="<?php echo $_SERVER['HTTP_REFERER']?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="window.location='<?php echo $_SERVER['HTTP_REFERER']?>'">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
		$("#code").focus();
	})
</script>>