<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="company-area-dialog" style="display:none;">
	<form id="company-area-form" action="/sis-tramites/public/company-area/ajax-save" data-parsley-validate>
		<input type="hidden" id="company-area-id" name="id">
		<input type="hidden" id="company-area-parent-id" name="parent-id">
		<input type="hidden" id="node-parent-id" name="node-parent-id">
		<div class="form-group">
			<label class="control-label" for="name">Codigo</label>
			<input type="text" class="form-control" id="company-area-code" name="code" required>
		</div>
		<div class="form-group">
			<label class="control-label" for="name">Nombre</label>
			<input type="text" class="form-control" id="company-area-name" name="name" required>
		</div>
		<div class="form-group">
			<label class="control-label" for="name">Max Empleados</label>
			<input type="number" class="form-control" id="company-area-max-employees" name="max-employees" size="3" value="1" min="1" required>
		</div>
		<button type="submit" class="btn btn-primary">
			Guardar
		</button>
	</form>
</div>
<div id="employee-dialog" style="display:none;">
	<form id="employee-form" action="/sis-tramites/public/employee/ajax-asign-company-area" data-parsley-validate>
		<input type="hidden" id="employee-company-area-id" name="company-area-id">
		<div class="form-group">
			<label class="control-label" for="employee-id">Empleado</label>
			<select id="employee-id" class="form-control" name="employee-id" >
				<option value="">&nbsp;</option>
				<?php
				foreach ($this->employeeList as $employee) {
					/**
					 * @var App_Model_Employee
					 */
					$employee;
					echo "<option value=\"" . $employee->getId() . "\">" . $employee->getFullName() . "</option>";
				}
				?>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">
			Guardar
		</button>
	</form>
</div>
<div id="page-wrapper">
	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl()?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-table"></i> Tipo de Documento
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-6">
				<h3>Organigrama Empresarial</h3>
				<div class="form-group">
					<button type="button" class="btn btn-success" onclick="showCompanyAreaForm(true);">
						Nuevo
					</button>
					<button type="button" class="btn btn-success" onclick="showCompanyAreaForm(false);">
						Editar
					</button>
					<button type="button" class="btn btn-success" onclick="deleteCompanyArea();">
						Eliminar
					</button>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="search-company-area" placeholder="Buscar Area...">
				</div>
				<div class="mygrid-wrapper-div">
					<div id="company-tree">
						&nbsp;
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3>Empleados</h3>
				<div class="form-group">
					<button type="button" class="btn btn-success" onclick="showEmployeeForm();">
						Nuevo
					</button>
				</div>
				<table class="table table-bordered table-hover">
					<thead>
						<th>Nombre Completo</th>
						<!-- <th>Estado</th> -->
						<th>Usuario</th>
						<th>Acciones</th>
					</thead>
					<tbody id="employee-table-body"></tbody>
				</table>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
<script src="<?php echo $this->baseUrl("js/company-area-index.js")?>"></script>