<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Modificar Tipo de Documento
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-6">
				<h3> Modificar Tipo de Documento </h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/document-type/modify"); ?>" data-parsley-validate>
					<?php 
						/**
						 * @var App_Model_DocumentType
						 */
						$documentType = $this->documentType;
					?>
					<input type="hidden" name="id" value="<?php echo $documentType->getId()?>">
					<div class="form-group">
						<label class="control-label" for="code">Codigo</label>
						<input type="text" name="code" class="form-control" id="code" required value="<?php echo $documentType->getCode();?>">
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Nombre</label>
						<input type="text" name="name" class="form-control" id="name" required value="<?php echo $documentType->getName();?>">
					</div>
					<div class="form-group">
						<label class="control-label" for="description">Descripcion</label>
						<input type="text" name="description" class="form-control" id="description" value="<?php echo $documentType->getDescription();?>">
					</div>
					<div class="form-group">
						<label class="control-label" for="type">Ambito</label>
						<select id="role" class="form-control" name="type" required>
							<option value="<?php echo App_Model_DocumentType::EXTERNAL; ?>" <?php if($documentType->getType() === App_Model_DocumentType::EXTERNAL) echo "selected"?>>Externa</option>
							<option value="<?php echo App_Model_DocumentType::INTERNAL; ?>" <?php if($documentType->getType() === App_Model_DocumentType::INTERNAL) echo "selected"?>>Interna</option>
						</select>
					</div>
					<input type="hidden" name="referer" value="<?php echo $_SERVER['HTTP_REFERER']?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="window.location='<?php echo $_SERVER['HTTP_REFERER']?>'">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
		$("#code").focus();
	})
</script>>