<html>
	<head>
		<title>Sistema de Correspondencia y Tramites</title>
		<link href="<?php echo $this->baseUrl("css/clean.css");?>" rel="stylesheet" media="all">
	</head>
	<body>
		<div id="wrapper">
	    	<?php echo $this->layout()->content ?>
	    </div>
	</body>
</html>