<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SISTC - Sistema de Tramites y Correspondencia!!</title>

    <!-- Bootstrap Core CSS -->
    <link href="<?php echo $this->baseUrl("css/bootstrap.min.css");?>" rel="stylesheet">
    
    <!-- Jquery UI CSS -->
    <link href="<?php echo $this->baseUrl("/css/jquery-ui/jquery-ui.min.css");?>" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="<?php echo $this->baseUrl("css/sb-admin.css");?>" rel="stylesheet" >

    <!-- Custom Fonts -->
    <link href="<?php echo $this->baseUrl("font-awesome-4.1.0/css/font-awesome.min.css");?>" rel="stylesheet" type="text/css">
    
    <!-- DataTable -->
    <link href="<?php echo $this->baseUrl("/js/DataTables-1.10.1/media/css/jquery.dataTables.min.css");?>" rel="stylesheet" type="text/css">
    
    <!-- Select2 -->
    <link href="<?php echo $this->baseUrl("/js/select2-3.5.1/select2.css");?>" rel="stylesheet" type="text/css">
    
    <!-- Parsley -->
    <link href="<?php echo $this->baseUrl("/js/parsley/parsley.css");?>" rel="stylesheet" type="text/css">
    
    <!-- JsTree -->
    <link href="<?php echo $this->baseUrl("/js/vakata-jstree/themes/default/style.min.css");?>" rel="stylesheet" type="text/css">
    
    <!-- Joint -->
    <link href="<?php echo $this->baseUrl("/js/jointjs/joint.css");?>" rel="stylesheet" type="text/css">
    
    <!-- jQuery Version 1.11.0 -->
    <script src="<?php echo $this->baseUrl("/js/jquery-1.11.0.js")?>"></script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
    	<?php echo $this->layout()->content ?>
    </div>
    <!-- /#wrapper -->
    
    <!-- Bootstrap Core JavaScript -->
    <script src="<?php echo $this->baseUrl("/js/bootstrap.min.js")?>"></script>
    
    <!-- JqueryUI JavaScript -->
    <script src="<?php echo $this->baseUrl("/js/jquery-ui.min.js")?>"></script>
    
    <!-- Parsley Form Validator JavaScript -->
    <script src="<?php echo $this->baseUrl("/js/parsley/parsley.min.js")?>"></script>
    <script src="<?php echo $this->baseUrl("/js/parsley/es.js")?>"></script>
    
    <!-- Select2 JavaScript -->
    <script src="<?php echo $this->baseUrl("js/select2-3.5.1/select2.min.js")?>"></script>
    
    <!-- Vakata JsTree JavaScript -->
    <script src="<?php echo $this->baseUrl("js/vakata-jstree/jstree.min.js")?>"></script>
    
    <script src="<?php echo $this->baseUrl("js/DataTables-1.10.1/media/js/jquery.dataTables.min.js")?>"></script>
</body>

</html>
