<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<?php 
    $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
    $this->headTitle()->setSeparator(' - ');
    $this->headTitle('Sistema de Correspondencia y Tramites');
    
    echo $this->headMeta();
    echo $this->headTitle();
	echo $this->headLink()
	        ->appendStylesheet($this->baseUrl() . '/media/style.css');
			
	echo $this->headScript()
			->appendFile($this->baseUrl() . '/js/jquery-1.10.2.min.js','text/javascript');
    echo $this->headScript()
            ->appendFile($this->baseUrl() . '/js/ddaccordion.js','text/javascript');
    echo $this->headScript()
            ->appendFile($this->baseUrl() . '/js/custom.js','text/javascript');
?>
</head>
<body>
<div id="main_container">

    <div class="header">
    <div class="logo"><a href="#"><img src="media/images/logo.gif" alt="" title="" border="0" /></a></div>
    
    <div class="right_header">Welcome Admin, <a href="#" class="logout">Logout</a></div>
    <div id="clock_a"></div>
    </div>
    
    <div class="main_content">
    <?php echo $this->layout()->content ?>
    <div class="clear"></div>
    </div> <!--end of main content-->
    
    
    <div class="footer">
    
        <div class="left_footer">IN ADMIN PANEL | Powered by <a href="http://indeziner.com">INDEZINER</a></div>
        <div class="right_footer"><a href="http://indeziner.com"><img src="media/images/indeziner_logo.gif" alt="" title="" border="0" /></a></div>
    
    </div>

</div>      
</body>
</html>