<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Agregar Accion
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-lg-12">
				<h3> Modificar Accion </h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/action/edit"); ?>" data-parsley-validate>
					<input type="hidden" name="id" value="<?php echo $this->action->getId()?>">
					<div class="form-group">
						<label class="control-label" for="code">Codigo</label>
						<input type="text" name="code" class="form-control" id="code" value="<?php echo $this->action->getCode()?>" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="name">Nombre</label>
						<input type="text" name="name" class="form-control" id="name" value="<?php echo $this->action->getName()?>" required>
					</div>
					<input type="hidden" name="referer" value="<?php echo $_SERVER['HTTP_REFERER']?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="window.location='<?php echo $_SERVER['HTTP_REFERER']?>'">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
<script>
	$(document).ready(function(){
		$("#code").focus();
	})
</script>