<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="<?php echo $this->baseUrl()?>">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Acciones Predefinidas
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Acciones Predefinidas</h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("action/add")?>'">
								Nueva Accion
							</button>
						</div>
                        <div class="table-responsive">
                            <table id="action-datatable">
								<thead>
								<tr>
									<th> Id </th>
									<th> Codigo  </th>
									<th> Nombre </th>
									<th>Acciones</th>
								</tr>
								</thead>
								<?php 
									foreach($this->actions as $action)
									{
								?>
								<tr>
									<td><?php echo $action->getId(); ?></td>
									<td><?php echo $action->getCode(); ?></td>
									<td><?php echo $action->getName(); ?></td>
									<td>
										<a href='<?php echo $this->url(
											array(
												'controller' => 'action',
												'action'     => 'edit',
												'id'     => $action->getId(),
											), 'default', true) ?>'>Modificar</a>
										<a href='<?php echo $this->url(
											array(
												'controller' => 'action',
												'action'     => 'delete',
												'id'     => $action->getId(),
											), 'default', true) ?>'>Eliminar</a>
									</td>
								</tr>
								<?php
									}
								?>
							</table>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        <script>
        	$(document).ready(function() {
        		$("#action-datatable").DataTable();
        	})
        </script>