<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Registrar Nuevo Usuario
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3> Nuevo Usuario</h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/user/add")?>" data-parsley-validate>
					<div class="form-group">
						<label class="control-label" for="username">Nombre Usuario</label>
						<input type="text" name="username" class="form-control" id="username" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="password">Password</label>
						<input type="password" name="password" class="form-control" id="password" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="repeat-password">Repetir Password</label>
						<input type="password" name="repeat-password" class="form-control" id="repeat-password" required data-parsley-equalto="#password">
					</div>
					<div class="form-group">
						<label class="control-label" for="rol">Rol</label>
						<select id="role" class="form-control" name="role" required>
							<option value="<?php echo App_Model_User::ROL_USER; ?>">Usuario Comun</option>
							<option value="<?php echo App_Model_User::ROL_SUPER_ADMIN; ?>">Super Administrador</option>
							<option value="<?php echo App_Model_User::ROL_CORRESPONDENCE_REGISTER; ?>">Registrador de Correspondencia Externa</option>
							<option value="<?php echo App_Model_User::ROL_CORRESPONDENCE_MANAGER; ?>">Manager de Correspondencia</option>
							<option value="<?php echo App_Model_User::ROL_CORRESPONDENCE_ADMIN; ?>">Administrador de Correspondencia</option>
							<option value="<?php echo App_Model_User::ROL_FORMALITY_ADMIN; ?>">Administrador de Tramites</option>
						</select>
					</div>
					<input type="hidden" name="referer" value="<?php echo $_SERVER['HTTP_REFERER']?>">
					<button type="submit" class="btn btn-primary">Registrar</button>
					<button type="button" class="btn btn-default" onclick="window.location='<?php echo $_SERVER['HTTP_REFERER']?>'">Cancelar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
		$("#role").select2();
		$("#username").focus();
	});
</script>