<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
	<div id="page-wrapper">
		<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="<?php echo $this->baseUrl()?>">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Usuarios
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Usuarios</h2>
                        <div class="form-group">
							<button type="button" class="btn btn-success" onclick="location.href= '<?php echo $this->baseUrl("user/add")?>'">
								Nuevo Usuario
							</button>
						</div>
                        <div class="table-responsive">
                            <table id='user-datatable'>
							<thead>
							<tr>
								<th>Usuario</th>
								<th>Status</th>
								<th>Rol</th>
								<th>&nbsp;</th>
							</tr>
							</thead>
							<tbody>
							<?php 
								/**
								 * @var App_Model_User
								 */
								 $user;
								foreach($this->dataList as $user)
								{
							?>
								<tr>
									<td><?php echo $user->getUsername(); ?></td>
									<td><?php echo $user->getStatus(); ?></td>
									<td> 
									<?php 
											echo $user->getNaturalRol();
									?></td>
									<td>
										<a href='<?php echo $this->url(
											array(
												'controller' => 'user',
												'action'     => 'modify',
												'id'     => $user->getId(),
											), 'default', true) ?>'>Modificar</a>
										<a href='<?php echo $this->url(
											array(
												'controller' => 'user',
												'action'     => 'remove',
												'id'     => $user->getId(),
											), 'default', true) ?>'>Eliminar</a>
									</td>
								</tr>
							<?php
								} // End foreach
							?>
							</tbody>
							</table>
                        </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
<script language="javascript">
	$(document).ready(function() {
		$("#user-datatable").dataTable();
	});
</script>