<?php echo $this->getHelper("partial")->partial("master/menu.phtml", array("activeMenuItem" => $this->activeMenuItem)); ?>
<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li>
						<i class="fa fa-dashboard"></i><a href="<?php echo $this->baseUrl(); ?>">Inicio</a>
					</li>
					<li class="active">
						<i class="fa fa-edit"></i> Login
					</li>
				</ol>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<h3> Ingresar al Sistema </h3>
				<form role="form" method="post" action="<?php echo $this->baseUrl("/user/login")?>" data-parsley-validate>
					<?php 
						if(!empty($this->errorMessage)) {
					?>
							<div class="alert alert-danger">
			                    <strong>Error!</strong> <?php echo $this->errorMessage ?>.
			                </div>
					<?php	
						}
					?>
					<div class="form-group">
						<label class="control-label" for="username">Nombre Usuario</label>
						<input type="text" name="username" class="form-control" id="username" required>
					</div>
					<div class="form-group">
						<label class="control-label" for="password">Password</label>
						<input type="password" name="password" class="form-control" id="password" required>
					</div>
					<button type="submit" class="btn btn-primary">Ingresar</button>
				</form>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script>
	$(document).ready(function() {
		$("#role").select2();
		$("#username").focus();
	});
</script>