<?php
	$auth = Zend_Auth::getInstance();
	/**
	 * App_Model_User
	 */
	$sessUser = null;
	$security = new App_Helper_SecurityHelper();
	if($auth->hasIdentity()) {
		/**
		 * @var App_Model_User
		 */
		$sessUser = App_Model_User::getById($auth->getIdentity());
		$security->setUser($sessUser);
	} 
?>
<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top hidden-print" role="navigation">
        	<img src='<?php echo $this->baseUrl("/images/banner.jpg")?>' class="img-responsive center-block" style="width:100%;"/>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<?php echo $this->baseUrl("index");?>"><i class="fa fa-cubes"></i> Sistema de Trámites y Correspondencias</a>
            </div>

            
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
            	<?php if($security->validate(App_Model_User::ROL_USER)) { ?>
                <li>
                    <?php 
                    	$employee = $sessUser->getEmployee();
						$totalNewCorrespondence = 0;
						if ($employee !== null) {
							$newCorrespondence = App_Model_Correspondence::getAllToReceive($employee->getId());
							$totalNewCorrespondence = count($newCorrespondence);
						}
                    	
                		$newCorrespondenceAlert = "";
						if($totalNewCorrespondence > 0) {
							$newCorrespondenceAlert = "label-warning";
						} else {
							$totalNewCorrespondence = "";
						}
                	?>
                    <a href="<?php echo $this->baseUrl("/correspondence/"); ?>" class="<?php echo $newCorrespondenceAlert; ?>" ><i class="fa fa-envelope"></i> <?php echo $totalNewCorrespondence; ?></a>
                </li>
                <?php if($sessUser->getEmployee() != null) {?>
                <li>
                	<?php 
                		$formalitiesPending = App_Model_Formality::getAllCurrentByEmployeeId($sessUser->getEmployee()->getId());
                		$totalFormalitiesPending = count($formalitiesPending);
                		$newFormalityAlert = "";
						if($totalFormalitiesPending > 0) {
							$newFormalityAlert = "label-danger";
						} else {
							$totalFormalitiesPending = "";
						}
                	?>
                    <a href="<?php echo $this->baseUrl("/formality/"); ?>" class="dropdown-toggle <?php echo $newFormalityAlert; ?>"><i class="fa fa-bell"></i> <?php echo $totalFormalitiesPending; ?></a>
                </li>
                <?php } ?>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 
                    	<?php 
                    	// if($sessUser->getEmployee() !== null) {
                    		// echo $sessUser->getEmployee()->getFullName(); 
                    	// } else {
                    		echo $sessUser->getUsername();
                    	// }
						?>
                    	 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="<?php echo $this->baseUrl("/user/logout")?>"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <?php } else { ?>
            	<li class="button">
                	<a href="<?php echo $this->baseUrl("/user/login")?>" ><i class="fa fa-user"></i> Ingresar al Sistema</a>
                </li>
                <?php } ?>
            </ul>
            
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" style="height: 1000px; background-color:#eee">
                    <li <?php if ($this->activeMenuItem == "index") echo "class=\"active\""; ?> >
                        <a href="<?php echo $this->baseUrl("index")?>"><i class="fa fa-fw fa-home"></i> Inicio </a>
                    </li>
                    <?php if ($security->validate(App_Model_User::ROL_USER)) {?>
                    <li <?php if ($this->activeMenuItem == "correspondence") echo "class=\"active\""; ?>>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#correspondence-menu"><i class="fa fa-fw fa-envelope"></i> Correspondencia <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="correspondence-menu" class="collapse">
                            <li>
                                <a href="<?php echo $this->baseUrl("correspondence/")?>"><i class="fa fa-fw fa-sign-in"></i> Correspondencia Recibida</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl("correspondence/sent")?>"><i class="fa fa-fw fa-sign-out"></i> Correspondencia Enviada</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl("correspondence/archived")?>"><i class="fa fa-fw fa-file-archive-o"></i> Correspondencia Archivada</a>
                            </li>
                            <?php if($security->validate(App_Model_User::ROL_CORRESPONDENCE_REGISTER)) { ?>
                            <li>
                                <a href="<?php echo $this->baseUrl("correspondence/external")?>"><i class="fa fa-fw fa-sign-in"></i> Correspondencia Externa</a>
                            </li>
                            <?php } ?>
                            <?php if($security->validate(App_Model_User::ROL_CORRESPONDENCE_ADMIN)) { ?>
                            <li>
                                <a href="<?php echo $this->baseUrl("correspondence/all")?>"><i class="fa fa-fw fa-envelope"></i>Toda la Correspondencia</a>
                            </li>
                            <?php } ?>
                        </ul>
                    </li>
                    <?php if ($security->validate(App_Model_User::ROL_USER)) { ?>
                    <li <?php if ($this->activeMenuItem == "formality") echo "class=\"active\""; ?> >
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#formalities-menu"><i class="fa fa-fw fa-list-alt"></i> Tramites <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="formalities-menu" class="collapse">
                        	<?php if ($security->validate(App_Model_User::ROL_FORMALITY_MANAGER)) { ?>
                            <li>
                                <a href="<?php echo $this->baseUrl("formality-definition/")?>"><i class="fa fa-fw fa-share-alt"></i> Definicion de Tramites</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl("formality/admin")?>"><i class="fa fa-fw fa-list-alt"></i> Todos los tramites</a>
                            </li>
                            <?php } ?>
                            <li>
                                <a href="<?php echo $this->baseUrl("formality/")?>"><i class="fa fa-fw fa-list-alt"></i> Tramites En Curso</a>
                            </li>                            
                            <li>
                                <a href="<?php echo $this->baseUrl("formality/old-formalities")?>"><i class="fa fa-fw fa-list-alt"></i> Mis Tramites</a>
                            </li>                            
                        </ul>
                    </li>
                    <?php } ?>
                    <?php if ($security->validate(App_Model_User::ROL_FORMALITY_MANAGER) || $security->validate(App_Model_User::ROL_CORRESPONDENCE_MANAGER)) { ?>
                    <li <?php if ($this->activeMenuItem == "report") echo "class=\"active\""; ?> >
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#reports-menu"><i class="fa fa-fw fa-bar-chart-o"></i> Reportes <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="reports-menu" class="collapse">
                        	<?php if ($security->validate(App_Model_User::ROL_FORMALITY_MANAGER)) { ?>
                            <li>
                                <a href="<?php echo $this->baseUrl("report/formalities")?>">Tramites</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl("report/formalities-detail")?>">Tramites por Tipo</a>
                            </li>
                            <?php } ?>
                            <?php if ($security->validate(App_Model_User::ROL_CORRESPONDENCE_MANAGER)) { ?>
                            <li>
                                <a href="<?php echo $this->baseUrl("report/correspondences")?>">Correspondencia</a>
                            </li>
                            <?php } ?>  
                        </ul>
                    </li>
                    <?php } ?>
                    <?php if ($security->validate(App_Model_User::ROL_CORRESPONDENCE_REGISTER)) { ?>
                    <li <?php if ($this->activeMenuItem == "settings") echo "class=\"active\""; ?> >
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#system-config"><i class="fa fa-fw fa-gears"></i> Configuración <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="system-config" class="collapse">
                            <?php if($security->validate(App_Model_User::ROL_CORRESPONDENCE_ADMIN)) {?>
                            <li>
                                <a href="<?php echo $this->baseUrl("document-type");?>">Tipo de Documento</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl("action");?>">Acciones Predefinidas</a>
                            </li>
                            <?php } ?>
                            <?php if($security->validate(App_Model_User::ROL_SUPER_ADMIN)) { ?>
                            <li>
                                <a href="<?php echo $this->baseUrl("employee");?>">Empleados</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl("company-area");?>">Organigrama</a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl("user");?>">Usuarios</a>
                            </li>
                            <?php } ?>
                            <?php if($security->validate(App_Model_User::ROL_CORRESPONDENCE_REGISTER)) { ?>
                            <li>
                                <a href="<?php echo $this->baseUrl("external-person");?>">Personas Externas</a>
                            </li>
                            <?php } ?>
                        </ul>
                    </li>
                    <?php } 
					}?>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>